body, html{
    padding: 0;
    margin: 0;
}

#root{
  height: 100vh;
  display: flex;
  background-color: black;
  flex-direction: column;
  justify-content: space-between;
}

header  {
    background-color: rgb(121, 100, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 5vw;
}

main{
    background-color: rgb(237, 100, 100);
    min-height: 20vw;
    display: flex;
    flex: auto 1 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
footer{
    background-color: cornflowerblue;
    min-height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window{
    display: flex;
}

.form_section{
    display: flex;
    gap: 2vw;
    height: 20vw;
    width: 20vw;
    overflow: hidden;
    background-color: rgb(237, 228, 100);
}


.active{
    display: block;
}

.inactive{
    display: none;
}