body, html{
    padding: 0;
    margin: 0;
}

#root{
  height: 100vh;
  display: flex;
  background-color: black;
  flex-direction: column;
  justify-content: space-between;
}

header  {
    background-color: rgb(121, 100, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 5vw;
}

main{
    background-color: rgb(237, 100, 100);
    min-height: 20vw;
    display: flex;
    flex: auto 1 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
footer{
    background-color: cornflowerblue;
    min-height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window{
    display: flex;

    align-items: center;
}

.navigation-button{
    height: 15vw;
    border-radius: 25%;
}

.form_section{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    height: 20vw;
    width: 20vw;
    overflow: hidden;
    background-color: rgb(237, 228, 100);
}


.active{
    display: block;
}

.inactive{
    display: none;
}

.main-content{
    display: flex;
    gap: 3vw;
    min-width: 100vw;
    justify-content: space-around;
    background-color: rgb(69, 15, 114);
    overflow: scroll;

}


.screen{
    min-width: 20vw;
    display: flex;
    border-radius: 15px;
    border: 2px solid black;
    flex-direction:column;
    background-color: paleturquoise;
}

.screen > h3{
    justify-self: center;
    align-self: center;

}

.personal-info{
 /* background-color: rgb(204, 53, 53);    */
 border-bottom: 2px solid #00000069;
 padding-bottom: 13px;
    margin: 1vw;

}

.personal-info > :nth-child(1){
    font-size: larger;
    justify-self:center;
    align-self: center
}

/* .personal-info > :nth-child(2){

}


.personal-info > :nth-child(3){

} */


.eduaction-info{
  display: grid;
  font-size: large;
  border-bottom: 2px solid #00000069;
  padding-bottom: 13px;
  margin: 1vw;

}

.company-info{
 /* background-color: rgb(151, 42, 165);    */
    margin: 1vw;
    font-size: large;
}