body,html{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}



#root{
  display: flex;
  height: 100vh;
  flex-direction: column;
  color: white;
}

header{
  background-color: rgb(214, 100, 50);
  flex: 0 1 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 2vw;
}

center{
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  flex:1;
}


footer{
  background-color: rgb(214, 100, 50);
  flex: 0 1 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-container{
  display: flex;
  background-color: dodgerblue;
  justify-content: space-around;
  align-items: center;
}

#api_search{
border: red solid 0.1vw;
}
#api_search:not(:placeholder-shown){
border: green solid 0.1vw;
}

#api_search{
border: red solid 0.1vw;
}

.cards-container{
  flex: 1 1 100%;
  background-color: #310597;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}
.flip-box{
  background-color:transparent;
  width: 6vw;
  height: 9vw;
  margin: 0.1vw;
  perspective: 1000px;
}

.flip-box-inner{
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip-box.clicked .flip-box-inner{
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back{
  position: absolute;
  background-color: dodgerblue;
  width:100%;
  height: 100%;
  backface-visibility: hidden;
  
}

.flip-box-back{
  transform: rotateY(180deg);
  backface-visibility: hidden;

}


  .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    visibility:visible;
    justify-content:center;
    align-items: center;
  }

  .win-screen,
.lose-screen{
  display: none;
  visibility:visible;
  flex-direction: column;
  color: rgb(214, 100, 50);
  background-color: #250597;

  margin: 2vw;
  padding: 2vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.pop-up{
  display: flex;
  visibility:visible;
}