body,html{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(205, 151, 50);
}



#root{
  display: flex;
  height: 100vh;
  background-color: rgb(10, 228, 82);
  flex-direction: column;
}

header{
  background-color: rgb(214, 149, 50);
  flex: 1 0 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 2vw;
}

center{
  background-color: #059766;
  flex: 1 0 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 0.3vw;  
}


footer{
  background-color: rgb(16, 165, 211);
  flex: 1 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count-container{
  display: flex;
  background-color: #250597;
}


.flip-box{
  background-color:transparent;
  width: 5vw;
  height: 10vw;
  border:1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner{
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back{
  position: absolute;
  width:100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box.front{

}
.flip-box-back{
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}