body,html{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(205, 151, 50);
}



#root{
  display: flex;
  flex: 1 1 100%;
  height: 100vh;
  background-color: rgb(10, 228, 82);
  flex-direction: column;
}

header{
  background-color: rgb(214, 149, 50);
  flex: 1 0 10%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-left: 2vw;
}

center{
  background-color: #059766;
  flex: 1 0 80%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}



.column1{
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */

  }

.column2{
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


center > * > *{
  background-color: rgb(191, 17, 197);
  color: white;
  transition: all 0.2s ease-in 0.2s;
}



center > .column1 > *.focused{
  background-color: rgb(8, 9, 114);
  color: white;
  grid-column: 2/3;
  transform-origin: center left;
  transform: scale(2, 20) translate(50%, 50%);

}

center > .column2 > *.focused{
  background-color: rgb(49, 65, 45);
  transform: scale(2, 20) translate(-50%, 50%);
  grid-column: 2/3;
  transform-origin: center right;
  color: white;
}


footer{
  background-color: rgb(16, 165, 211);
  flex: 1 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}